<!DOCTYPE html>
<html lang="{{ site.lang | default: 'en-US' }}">
<head>
    <meta charset="UTF-8">
    <title>Thync</title>
    <meta name="description" content="Webapp to sync videos with audio dubs"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#157878">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
</head>
<body>
<section class="page-header">
    <h1 class="project-name">thync</h1>
    <h2 class="project-tagline">Experimental Jaboody Dubs movie player</h2>
</section>

<section class="main-content">

    <form style="display:flex">
        Video URL: <input id="video_url" type="text" value="https://www.youtube.com/watch?v=Tgw2Kkmupg8">
        <button type="button" onclick="loadMedia('video_url')">Open</button>
    </form>

    <form style="display:flex">
        Audio URL: <input id="audio_url" type="text" value="https://s3-us-west-1.amazonaws.com/patreon-posts/697869452968638707.mp3">
        <button type="button" onclick="loadMedia('audio_url')">Open</button>
    </form>

    <p id="media_error_message"></p>

    <div id="video_element"></div>
    <div id="video_quality"></div>
    <div id="audio_element"></div>

    <button id="sync_toggle" onclick="setSync()">Lock Sync</button>
    <form style="display:flex">
        <button type="button" onclick="setDelta(-0.5, null)">-½ sec</button>
          adjust audio
        <button type="button" onclick="setDelta(0.5, null)">+½ sec</button>
    </form>

    <p id="share_url"></p>

    <footer class="site-footer">
        <span class="site-footer-owner">Developed by Jake Hilborn</span>
        <!--<span class="site-footer-credits"><a href="https://www.linkedin.com/in/jakehilborn">LinkedIn</a> | <a href="mailto:jakehilborn@gmail.com">Email</a></span>-->
    </footer>
</section>

<script src="/thync/scripts/data_loader.js" type="text/javascript"></script>
<script src="/thync/scripts/controller.js" type="text/javascript"></script>
<script src="/thync/scripts/he.js" type="text/javascript"></script>

</body>
</html>
