<!DOCTYPE html>
<html lang="{{ site.lang | default: 'en-US' }}">
<head>
    <meta charset="UTF-8">
    <title>Thync</title>
    <meta name="description" content="Webapp to sync videos with audio dubs"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#157878">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
</head>
<body>
<section class="page-header">
    <h1 class="project-name">thync</h1>
    <h2 class="project-tagline">Experimental Jaboody Dubs movie player</h2>
</section>

<section class="main-content">

    <div id="video_element"></div>
    <div id="audio_element"></div>

    <form style="display:flex">
        Video URL: <input id="video_url" type="text" value="https://redirector.googlevideo.com/videoplayback?id=6419cdb1857fb31d&itag=22&source=webdrive&requiressl=yes&ttl=transient&mm=30&mn=sn-5hne6nls&ms=nxu&mv=u&pl=24&ei=i9wPWdTvNcyTqwWc4qkI&mime=video/mp4&lmt=1464043585870055&mt=1494211653&ip=185.66.141.239&ipbits=0&expire=1494226123&sparams=ip,ipbits,expire,id,itag,source,requiressl,ttl,mm,mn,ms,mv,pl,ei,mime,lmt&signature=5CE8756A2C4F27646DFA8B92165CAE7326AFD143.33AB979466E03CD474F153C5520AEE62030D7A9A&key=ck2&app=explorer">
        <button type="button" onclick="loadURL('video_url', 'video_element')">Open</button> <p id="loading_message"></p>
    </form>

    <form style="display:flex">
        Audio URL: <input id="audio_url" type="text" value="https://s3-us-west-1.amazonaws.com/patreon-posts/697869452968638707.mp3">
        <button type="button" onclick="loadURL('audio_url', 'audio_element')">Open</button>
    </form>

    <button id="sync_toggle" onclick="setSync()">Lock Sync</button>
    <button onclick="logDelta()">Log delta</button>
    <button onclick="setDelta(-0.5, null)">Audio forward</button>
    <button onclick="setDelta(0.5, null)">Audio backward</button>

    <p id="share_url"></p>

    <footer class="site-footer">
        <span class="site-footer-owner">Developed by Jake Hilborn</span>
        <span class="site-footer-credits"><a href="https://www.linkedin.com/in/jakehilborn">LinkedIn</a> | <a href="mailto:jakehilborn@gmail.com">Email</a></span>
    </footer>
</section>

<script src="/thync/scripts/data_loader.js" type="text/javascript"></script>
<script src="/thync/scripts/controls.js" type="text/javascript"></script>

</body>
</html>
